<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <config>
        <add key="repositoryPath" value="packages" />
        <add key="globalPackagesFolder" value="packages" />
    </config>
    <packageRestore>
        <!-- Opt-In both Package Restore, and MSBuild-Integrated Package Restore, does not make MSBuild restore automatic -->
        <add key="enabled" value="True" />
        <!-- Opt-In Automatic Package Restore in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github-Nidk-Akanea" value="https://nuget.pkg.github.com/Nidk-Akanea/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <github-Nidk-Akanea>
            <add key="Username" value="Nidk-Akanea" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github-Nidk-Akanea>
    </packageSourceCredentials>

    <packageSourceMapping>
        <packageSource key="github-Nidk-Akanea">
            <package pattern="CefGlue.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
